body {
    background-color: lightblue;
    color:rgba(23, 23, 216, 0.751)
    font: size 20px;
}

p {
    color:black;
}

.perzonalizado{
    color:rgb(197, 116, 58) 
    backgroaund-color: hsl(100,100%,0,)
}

.centrado{
    text-alin:center;
}